#set( $dash = "#" )
$dash Orne Beans

Utilities for bean development.

$dash$dash Usage

This project supports both JakartaEE 8 (`javax` namespace) and
JakartaEE 9+ (`jakarta` namespace) projects,
which are available as separate Maven artifacts.

Follow the corresponding module's Maven Coordinates report
([JEE8/javax](./jee8/dependency-info.html),
[JEE9/jakarta](./jee9/dependency-info.html)) for dependency declaration.

$dash$dash Features

Provides utilities for implementation and management of POJO Java Beans.

- [Bean identities](./identities.html)

  Abstraction mechanism for entity identities on beans, also known as
  "Primary ID" or "Primary Key".

- [Bean references](./references.html)

  Annotation based mechanism to declare and validate bean based references to
  unique entity references.

- [Apache Commons BeanUtils converters](./converters.html)

  Adds extra supported conversions to Apache Commons BeanUtils.

- **Experimental** [SPI based Jackson polymorphism](./jackson.html)

  Adds SPI based extensible name based polymorphism to Jackson.
